body{
    background-color: black;
    }
#container{
  
margin:auto;
width: 800px;
height:700px;
background-color: navajowhite;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex:1;
   
    flex-wrap: wrap;
}
div{
    display: flex;
    
    border-color: red;
    border: auto;
    
   width: auto;
   padding-top:100%;
   background-color: green;
    padding:5px;
    margin:1px;
  
    flex-shrink: 2;
    flex-grow:2;
    flex-wrap:wrap;
}
